<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- DirectX 12 Agility SDK 1.715.0-preview or later is required for Mesh Nodes -->
  <package id="Microsoft.Direct3D.D3D12" version="1.618.4" targetFramework="native" />
  <package id="Microsoft.Direct3D.D3D12" version="1.715.0-preview" targetFramework="native" />
</packages>